Repository shirohako/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔌 3rd Party Plugin, Configurations, CSS, 📖 Docs, Layout, 🌍 i18n, Actions

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

🔌 3rd Party Plugin: package.json
Configurations: _config.yml
CSS: source/css/**/*
📖 Docs: docs/**/*
Layout: layout/**/*
🌍 i18n: languages/**/*
Actions: .github/workflows/**/*

Shion first commit
  themes/next/layout/_partials/widgets.njk
  themes/next/scripts/tags/github-card.js
  themes/next/source/images/cursor.png
  themes/next/source/images/cursor_link.png
  themes/next/source/images/favicon-16x16-next.png
  themes/next/source/images/favicon-16x16.png
  themes/next/source/images/favicon-32x32-next.png
  themes/next/source/images/favicon-32x32.png
  themes/next/source/images/favicon.ico
  themes/next/source/images/priest.png
  themes/next/source/images/scroll.png
  themes/next/source/js/utils.js
Labels: none

enable Disqus
  README.md
  _config.next.yml
  package-lock.json
  package.json
Labels: 🔌 3rd Party Plugin

Squashed 'themes/next/' changes from eda1773..7bf3e60
  package.json
Labels: 🔌 3rd Party Plugin

update readme.md
  README.md
Labels: none

update readme.md
  README.md
Labels: none

update post
  source/_posts/My-New-Post.md
Labels: none

update style
  source/_data/styles.styl
Labels: none

Post Table CSS
  source/_data/styles.styl
Labels: none

Disable pangu.js
  _config.next.yml
Labels: none

优化CSS
  source/_data/styles.styl
Labels: none

莱莎2
  source/_posts/Atelier-Ryza-2.md
Labels: none

更新标题
  source/_posts/Setsuna.md
Labels: none

莱莎2 更新
  source/_posts/Atelier-Ryza-2.md
Labels: none

更新
  source/_posts/Atelier-Ryza-2.md
  source/_posts/Setsuna.md
Labels: none

更新标题
  source/_posts/Setsuna.md
Labels: none

更新样式
  source/_data/styles.styl
Labels: none

更新文章底部
  source/_data/post-body-end.njk
Labels: none

Squashed 'themes/next/' changes from 1dd1c71..5e8876d
  .github/ISSUE_TEMPLATE/config.yml
  .github/stale.yml
  .github/workflows/label-commenter.yml
  .github/workflows/stale.yml
  _config.yml
  layout/_macro/sidebar.njk
  layout/_partials/header/brand.njk
  layout/_partials/search/algolia-search.njk
  layout/_partials/search/localsearch.njk
  layout/_partials/widgets.njk
  layout/_third-party/analytics/cloudflare.njk
  layout/_third-party/analytics/index.njk
  scripts/helpers/font.js
  test/helpers/font.js
Labels: Configurations, Layout, Actions

Merge commit '257eeeb61f26e80d4cdd8b8779e5181b66afb816' into main
  themes/next/layout/_partials/widgets.njk
Labels: none

TS453D
  source/_posts/QNAP-TS453D.md
Labels: none

TS453D
  source/_posts/QNAP-TS453D.md
Labels: none

Squashed 'themes/next/' changes from 5e8876d5..3a1b30af
  .github/CODE_OF_CONDUCT.md
  .github/workflows/linter.yml
  .github/workflows/tester.yml
  .npmignore
  LICENSE.md
  _vendors.yml
  docs/LICENSE.txt
  docs/zh-CN/CODE_OF_CONDUCT.md
  languages/ja.yml
  languages/si.yml
  languages/zh-HK.yml
  languages/zh-TW.yml
  layout/_layout.njk
  layout/_macro/post.njk
  layout/_third-party/comments/gitalk.njk
  layout/_third-party/comments/utterances.njk
  layout/page.njk
  package.json
  scripts/events/lib/vendors.js
  scripts/filters/comment/changyan.js
  scripts/filters/comment/disqus.js
  scripts/filters/comment/disqusjs.js
  scripts/filters/comment/gitalk.js
  scripts/filters/comment/isso.js
  scripts/filters/comment/livere.js
  scripts/filters/comment/utterances.js
  scripts/filters/locals.js
  scripts/filters/post.js
  scripts/helpers/engine.js
  scripts/helpers/font.js
  source/css/_common/scaffolding/base.styl
  source/js/algolia-search.js
  source/js/utils.js
  test/helpers/font.js
  test/validate/index.js
Labels: 🔌 3rd Party Plugin, CSS, 📖 Docs, Layout, 🌍 i18n, Actions

修正图片
  source/_posts/Atelier-Ryza-2.md
Labels: none

Squashed 'themes/next/' changes from 3a1b30af..eca3ed34
  .githooks/pre-commit
  .github/workflows/label-commenter.yml
  .github/workflows/tester.yml
  _config.yml
  _vendors.yml
  languages/pt-BR.yml
  languages/si.yml
  layout/_third-party/comments/gitalk.njk
  package.json
  scripts/filters/post.js
  scripts/helpers/engine.js
Labels: 🔌 3rd Party Plugin, Configurations, Layout, 🌍 i18n, Actions

修改配置
  _config.yml
Labels: Configurations

修改样式
  source/_data/styles.styl
Labels: none

EAC/XLD
  source/_posts/Digitizing-CD-Archives.md
Labels: none

更新文章
  source/_posts/Digitizing-CD-Archives.md
Labels: none

更新文章
  source/_posts/GC573.md
Labels: none

更新文章
  source/_posts/Telegram-Bot.md
Labels: none

更新文章
  source/_posts/QNAP-TS453D.md
Labels: none

样式更新
  source/_data/styles.styl
Labels: none

Haraka
  source/_posts/Haraka.md
Labels: none

Haraka
  package-lock.json
  package.json
Labels: 🔌 3rd Party Plugin

更新依赖
  package-lock.json
  package.json
Labels: 🔌 3rd Party Plugin

更新依赖
  package-lock.json
  package.json
Labels: 🔌 3rd Party Plugin

更新依赖
  package-lock.json
  package.json
Labels: 🔌 3rd Party Plugin

Update Open Graph protocol meta
  _config.next.yml
  themes/next/layout/_partials/head/head-unique.njk
Labels: none

Squashed 'themes/next/' changes from 6b23d429..662dd80f
  layout/_layout.njk
  layout/_partials/head/head-unique.njk
  scripts/tags/link-grid.js
Labels: Layout

嵌入统计
  _config.next.yml
  source/_data/head.njk
Labels: none
